<div class="container">
    <div class="row">
      <div class="rectangle uno"></div>
      <div class="rectangle dos"></div>
      <div class="rectangle tres"></div>
    </div>
    <div class="row">
      <div class="rectangle cuatro"></div>
      <div class="rectangle cinco"></div>
      <div class="rectangle seis"></div>
    </div>
    <div class="row">
      <div class="rectangle siete"></div>
      <div class="rectangle ocho"></div>
      <div class="rectangle nueve"></div>
     </div>
    </div>
